<p>
  feature works!
</p>

<body data-spy="scroll" data-target="#navbar-menu" data-offset="110">

  <!-- Preloader -->
  <div id="loading">
      <div id="loading-center">
          <div id="loading-center-absolute">
              <div class="object" id="object_one"></div>
              <div class="object" id="object_two"></div>
              <div class="object" id="object_three"></div>
              <div class="object" id="object_four"></div>
          </div>
      </div>
  </div><!--End off Preloader -->

  <nav class="navbar navbar-default bootsnav navbar-fixed no-background white">
          <!-- Start Header Navigation -->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                  <i class="fa fa-bars"></i>
              </button>
              <a class="navbar-brand" href="#brand">
                  <img src="assets/images/car.png" alt="">
                  <!--<img src="assets/images/footer-logo.png" class="logo logo-scrolled" alt="">-->
              </a>
          </div>
          <!-- End Header Navigation -->

          <!-- navbar menu -->
          <div class="collapse navbar-collapse" id="navbar-menu">
              <ul class="nav navbar-nav navbar-right">                      
                  <li><a href="index.html">Home</a></li>                    
                  <!--<li><a href="#about">About</a></li>-->
                  <li><a href="index.html">Service</a></li>
                  <li><a href="index.html">Feature</a></li>
                  <li><a href="index.html">Contact</a></li>                            
              </ul>
          </div><!-- /.navbar-collapse -->               
  </nav>

      <!---product1 section-->
          <section id="product1" class="product1 bg-grey fix">
              <div class="container">
                  <div class="main_product1 roomy-80">
                      <div class="row">
                              <div class="head_title text-center fix">
                                  <h4 class="text-uppercase text-black">ลักษณะของที่จะส่ง</h4>
                              </div> 
                                  <div class="col-sm-3">
                                      <h6>ผลิตภัณฑ์ที่ต้องวัดการกระแทก</h6>
                                      <a class="navbar-brand"><input type ='CHECKBOX' name = "ONE" value ="value1" > แก้ว , วัสดุแตกหักง่าย </a>    
                                      <a class="navbar-brand"><input type ='CHECKBOX' name = "ONE" value ="value1" > พลาสติกหุ้มฉนวนกันกระแทก </a>                                                        
                                      <a class="navbar-brand"><input type ='CHECKBOX' name = "ONE" value ="value1" > อุปกรณ์อิเล็คทรอนิค </a>
                                  </div>

                                  <div class="col-sm-3">
                                      <h6>ระยะทาง</h6>
                                      <a class="navbar-brand"><input type ='CHECKBOX' name = "ONE" value ="value1" > ไม่เกิน 10 km. </a>    
                                      <a class="navbar-brand"><input type ='CHECKBOX' name = "ONE" value ="value1" > 10-30 km. </a>                                                        
                                      <a class="navbar-brand"><input type ='CHECKBOX' name = "ONE" value ="value1" > 30 km. ขึ้นไป </a>
                                  </div>

                                  <div class="col-sm-3">
                                      <h6>จำกัดเวลา</h6>
                                      <a class="navbar-brand"><input type ='CHECKBOX' name = "ONE" value ="value1" > ไม่เกิน 30 นาที </a>    
                                      <a class="navbar-brand"><input type ='CHECKBOX' name = "ONE" value ="value1" > 30 นาที - 2 ชั่วโมง </a>           
                                  </div>

                                  <div class="col-sm-3">                                                        
                                      <h6>บริการเสริม</h6>
                                      <a class="navbar-brand"><input type ='CHECKBOX' name = "ONE" value ="value1" > คนขับยกของ 150 </a>  
                                      <a class="navbar-brand"><input type ='CHECKBOX' name = "ONE" value ="value1" > คนช่วย+คนขับยกของ 150 บาท </a>                                                            
                                  </div>    

                                  <div class="business_btn m-top-50" style = "padding: 250px 500px">
                                      <a href="page2.html" class="btn btn-default m-top-20">ตกลง</a>
                                  </div>    
                      </div> 
                  </div><!-- End off row -->
              </div><!-- End off container -->
          </section><!-- End off Product1 section -->


<script src="assets/js/vendor/jquery-1.11.2.min.js"></script>
<script src="assets/js/vendor/bootstrap.min.js"></script>

<script src="assets/js/jquery.magnific-popup.js"></script>
<script src="assets/js/jquery.easing.1.3.js"></script>
<script src="assets/js/bootsnav.js"></script>



<script src="assets/js/plugins.js"></script>
<script src="assets/js/main.js"></script>

</body>